.btn:hover {
    color: red;
    background-color: yellow;
}
.lesson-four-task-two:hover{
    background-color: green;
}
.link:visited{
    color: yellow;
}
#sidebar>.link:link{
    color: red;
}
.lesson-four-task-five>button:active{
    background-color: blue;
}
.lesson-four-task-six>button:focus{
    color: orange;
}
#target>a:target{
    color: white;
    background-color: green;
}
#checkbox:checked{
    background-color: blue;
    color: white;
}
.lesson-four-task-nine>p:lang(uk){
    color: blue;
}
.form-control:enabled{
    color: red;
    background-color: yellow;
}
.lesson-four-task-eleven>input:disabled{
    background-color: yellow;
}
.lesson-four-task-twelve>input:read-write{
    background-color: yellow;
}
.lesson-four-task-thirteen>input:read-only{
    background-color: green;
}
.lesson-four-task-fourteen>input:valid{
    background-color: green;
}
.lesson-four-task-fourteen>input:invalid{
    background-color: red;
}
.lesson-four-task-fifteen textarea:optional{
    background-color: blueviolet;
}
.lesson-four-task-sixteen input:out-of-range{
    background-color: red !important;
}
.lesson-four-task-seventeen input:in-range{
    background-color: rgb(0, 255, 85) !important;
}
.lesson-four-task-eighteen>input:placeholder-shown{
    background-color: red;
}
.lesson-four-task-nineteen button:focus-within{
    background-color: yellow;
    color: white;
}
.lesson-four-task-twenty input:invalid{
    background-color: red;
}